body {
padding: 0%;
background-image: url('recipe-post.jpg');
background-size: cover;
}
.top-data-div {
    border: none;
    border-bottom: solid black 3px;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 2%;
}

.category {
    display: inline-block;
    font-weight: bold;
}

.category-data {
    display: inline-block;
    padding-left: 1%;
    padding-right: 6%;
}

.outer-div {
    width: 100%;
    margin-top:-4%;
    padding-top: 10%;
    height: 700px;
}

.try {
    background-image: url('recipe-background.jpg');
    background-size: cover;
    height: 100%;
    border-radius: 2rem;
}
.main-div {
    margin-top: -4%;
    padding-top: 4%;
    width: 70%;
    margin-left: 12.8%;
    background-color: white;
    border-radius: 2rem;

}

.recipe-name {
    text-align: center;
    font-size: 40px;
}

.ingredients-div {
    width: 25%;
    float:left;
}

.steps-div {
    margin-left: 40%;
    overflow: hidden;
}

.ing-steps-header{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 2%;
    margin-left: 6%;
}

.nutrition-header {
    font-weight: bold;
    font-size: 17px;

}

.ingredients{
    margin-left: 15%;
    margin-top: -4%;
}

.steps {
    margin-left: 10%;
}

.nutrition-cat {
    display: inline;
    font-size: 16px;
    margin-left: 15%;
    float: left;
    padding-right: 4%;
    font-weight: 500;
    margin-top: -4%;
}

#comment-header{
    font-size: 20px;
    margin-top:15%;
    color: white;
}

.new-comment {
    width:65%;
    border: none;
    background-color: rgba(233, 233, 233, 0.7);
    height: 30px;
    background-color: transparent;
}

.new-comment::placeholder {
    padding-left: 5%;
}

.comment-username {
    float:left;
    display:inline;
    font-weight: bold;
    padding-right: 2%;
    margin-left: 0%;
}

.comment-content {
    overflow:hidden;
}

.comments-div {
    height: 250px;
    overflow: auto;
    margin-left: 10%;
}

.add-comment-btn{
    border: none;
    background: none;
    margin-left: 27%;
}

.new-comment-div{
    border: none;
    background-color: rgba(233, 233, 233, 0.7);
    height: 30px;
    margin-left: 9%;
    padding: 0%;
    width: 55%;
}

.like {
    margin-left: 65%;
    border: none;
    color: red;
    background-color: transparent;
    display: inline-block;
    font-size: 25px;
    padding-bottom: 1%;
}

.heart-btn {
    border: none;
    color: red;
    background-color: transparent;
    padding:0%;
}

.comment-like-div {
    background-color: transparent;
    color: white; height: 65px;
    border: none;
    width: 100%;
    margin-left: 0%
}
